{% extends 'base.html.twig' %}

{% block body %}
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <!-- Votre code pour le navbar ici -->
    </nav>
    <!-- Navbar End -->

    <!-- Tableau de produits -->
    {% if items|length > 0 %}
        <div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Image</th>
                        <th>Prix</th>
                        <th>Quantite</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.produit.nom }}</td>
                            <td>
                                <img src="{{ asset('uploads/' ~ item.produit.ImageName) }}" class="img-thumbnail" style="max-width: 150px; max-height: 150px;" alt="{{ item.produit.nom }}">
                            </td>
                            <td>{{ item.produit.prix }} DT</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.produit.prix * item.quantity }} DT</td>
                            <td>
                                <a href="{{ path('addpanier', {'id': item.produit.id}) }}" class="btn btn-success">+</a>
                                <a href="{{ path('deletep', {'id': item.produit.id}) }}" class="btn btn-warning">-</a>
                                <a href="{{ path('removepanier', {'id': item.produit.id}) }}" class="btn btn-danger btn-dm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" style="text-align: right;">Total :</td>
                        <td>{{ total }} DT</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <a href="{{ path('ajoutc') }}" class="btn btn-primary">Valider le panier</a>
        </div>
    {% else %}
        <div class="container mt-5">
            <p>Surprise, c'est Vide !</p>
        </div>
    {% endif %}
{% endblock %}
